#b1{
    width: 10%;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    background-color: white;
    border-radius: 2.5rem;
    transition: transform 150ms ease;
    
    
}
#h1{
  width: 446%;
  border-radius: 1rem;
  color: black;
}
#d1{
    align-self: center;
    
}